# Ignore build directories
bin/
obj/

# Ignore user-specific files
*.user
*.suo

# Ignore Visual Studio temporary files
*.vs/
.vscode/

# Ignore NuGet packages
*.nupkg
*.snupkg
packages/

# Ignore logs
*.log

# Ignore other temporary files
*.tmp
*.temp